<a href="https://colab.research.google.com/github/LollipopGB/EA_TechnicalTest_DanielGarcia/blob/master/Solving_Error_MBERT_Word_Embeddings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MBERT Word Embeddings
This notebook has been written following the specifications in:
- See BERT on TensorHub: https://tfhub.dev/tensorflow/bert_multi_cased_L-12_H-768_A-12/2

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!pip install tensorflow==2.0
!pip install tensorflow_hub
!pip install bert-for-tf2
!pip install sentencepiece

Collecting tensorflow==2.0
  Downloading https://files.pythonhosted.org/packages/46/0f/7bd55361168bb32796b360ad15a25de6966c9c1beb58a8e30c01c8279862/tensorflow-2.0.0-cp36-cp36m-manylinux2010_x86_64.whl (86.3MB)
     |████████████████████████████████| 86.3MB 52kB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.3.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.12.1)
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.31.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.15.0)
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 47.5MB/s
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.35.1)
Collecting keras-applications>=1.0.8
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 6.5MB/s
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
     |████████████████████████████████| 450kB 42.5MB/s
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.18.5)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.12.4)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.8.1)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.8.1)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.2.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.0.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (49.6.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.2.2)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.17.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.0) (2.10.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.24.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.7.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (4.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.2.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.8)
Building wheels for collected packages: gast
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7542 sha256=978c9f62dd92c2523eb78ef0221b6e25a00a6aac79cf95e4d2acab9b482594a4
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built gast
ERROR: tensorflow-probability 0.11.0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
Installing collected packages: gast, tensorboard, keras-applications, tensorflow-estimator, tensorflow
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorboard 2.3.0
    Uninstalling tensorboard-2.3.0:
      Successfully uninstalled tensorboard-2.3.0
  Found existing installation: tensorflow-estimator 2.3.0
    Uninstalling tensorflow-estimator-2.3.0:
      Successfully uninstalled tensorflow-estimator-2.3.0
  Found existing installation: tensorflow 2.3.0
    Uninstalling tensorflow-2.3.0:
      Successfully uninstalled tensorflow-2.3.0
Successfully installed gast-0.2.2 keras-applications-1.0.8 tensorboard-2.0.2 tensorflow-2.0.0 tensorflow-estimator-2.0.1
Requirement already satisfied: tensorflow_hub in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow_hub) (3.12.4)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow_hub) (1.15.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow_hub) (1.18.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.8.0->tensorflow_hub) (49.6.0)
Collecting bert-for-tf2
  Downloading https://files.pythonhosted.org/packages/87/df/ab6d927d6162657f30eb0ae3c534c723c28c191a9caf6ee68ec935df3d0b/bert-for-tf2-0.14.5.tar.gz (40kB)
     |████████████████████████████████| 40kB 1.5MB/s
Collecting py-params>=0.9.6
  Downloading https://files.pythonhosted.org/packages/a4/bf/c1c70d5315a8677310ea10a41cfc41c5970d9b37c31f9c90d4ab98021fd1/py-params-0.9.7.tar.gz
Collecting params-flow>=0.8.0
  Downloading https://files.pythonhosted.org/packages/a9/95/ff49f5ebd501f142a6f0aaf42bcfd1c192dc54909d1d9eb84ab031d46056/params-flow-0.8.2.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (1.18.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (4.41.1)
Building wheels for collected packages: bert-for-tf2, py-params, params-flow
  Building wheel for bert-for-tf2 (setup.py) ... done
  Created wheel for bert-for-tf2: filename=bert_for_tf2-0.14.5-cp36-none-any.whl size=30317 sha256=8750b963d00a5d43dfa2501e9a586902fea867797bed6fc61f00b278a1d50335
  Stored in directory: /root/.cache/pip/wheels/2e/70/a2/be357037dd2cbdcaeb0add1fdf083be6a600ca65ee1f68751c
  Building wheel for py-params (setup.py) ... done
  Created wheel for py-params: filename=py_params-0.9.7-cp36-none-any.whl size=7304 sha256=3c5eecc4549607b77d6c3ecb503a23dde01cead12de69059ddf83a07b1e72d85
  Stored in directory: /root/.cache/pip/wheels/67/f5/19/b461849a50aefdf4bab47c4756596e82ee2118b8278e5a1980
  Building wheel for params-flow (setup.py) ... done
  Created wheel for params-flow: filename=params_flow-0.8.2-cp36-none-any.whl size=19475 sha256=9e6bcaf031f2549f2b0469f27122c95280518b8ed1eec9b180ab35e11bafd4ad
  Stored in directory: /root/.cache/pip/wheels/08/c8/7f/81c86b9ff2b86e2c477e3914175be03e679e596067dc630c06
Successfully built bert-for-tf2 py-params params-flow
Installing collected packages: py-params, params-flow, bert-for-tf2
Successfully installed bert-for-tf2-0.14.5 params-flow-0.8.2 py-params-0.9.7
Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/d4/a4/d0a884c4300004a78cca907a6ff9a5e9fe4f090f5d95ab341c53d28cbc58/sentencepiece-0.1.91-cp36-cp36m-manylinux1_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 3.5MB/s
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.91

In [3]:
import tensorflow as tf
import tensorflow_hub as hub
print("TF version: ", tf.__version__)
print("Hub version: ", hub.__version__)

TF version:  2.0.0
Hub version:  0.9.0

## Import modules

In [4]:
import tensorflow_hub as hub
import tensorflow as tf
import bert
FullTokenizer = bert.bert_tokenization.FullTokenizer
from tensorflow.keras.models import Model       # Keras is the new high level API for TensorFlow
import math
import pandas as pd
import string

In [5]:
path = '/content/drive/My Drive/ea_corpora_no_nan.csv'
df = pd.read_csv(path, sep=',', header=0)
max_seq_length = 128

## Building the model

Building model using tf.keras and hub. from sentences to embeddings.

Inputs:
 - input token ids (tokenizer converts tokens using vocab file)
 - input masks (1 for useful tokens, 0 for padding)
 - segment ids (for 2 text training: 0 for the first one, 1 for the second one)

Outputs:
 - pooled_output of shape `[batch_size, 768]` with representations for the entire input sequences
 - sequence_output of shape `[batch_size, max_seq_length, 768]` with representations for each input token (in context)

In [6]:
input_word_ids = tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32,
                                       name="input_word_ids")
input_mask = tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32,
                                   name="input_mask")
segment_ids = tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32,
                                    name="segment_ids")
bert_layer = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_multi_cased_L-12_H-768_A-12/2",
                            trainable=False)
pooled_output, sequence_output = bert_layer([input_word_ids, input_mask, segment_ids])

In [7]:
model = Model(inputs=[input_word_ids, input_mask, segment_ids], outputs=[pooled_output, sequence_output])

## Example of generating an embedding

First, we preprocessed the sentence following the BERT methodology. Then, we generate the ids, mask and segments with the tokenizer.

In [8]:
vocab_file = bert_layer.resolved_object.vocab_file.asset_path.numpy()
do_lower_case = bert_layer.resolved_object.do_lower_case.numpy()
tokenizer = FullTokenizer(vocab_file, do_lower_case)

In [9]:
s = "This nice, sentence."

Tokenizing the sentence

In [10]:
stokens = tokenizer.tokenize(s)

Adding separator tokens according to the paper

In [11]:
stokens = ["[CLS]"] + stokens + ["[SEP]"]

Get the model inputs from the tokens

In [14]:
input_ids = get_ids(stokens, tokenizer, max_seq_length)
input_masks = get_masks(stokens, max_seq_length)
input_segments = get_segments(stokens, max_seq_length)

In [15]:
print(stokens)
print(input_ids)
print(input_masks)
print(input_segments)

['[CLS]', 'This', 'nic', '##e', ',', 'sentence', '.', '[SEP]']
[101, 10747, 46267, 10112, 117, 49219, 119, 102, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Generate Embeddings using the pretrained model

In [16]:
pool_embs, all_embs = model.predict([[input_ids],[input_masks],[input_segments]])

In [17]:
pool_embs

array([[ 0.23276514, -0.00594373,  0.30834806, -0.20356625, -0.09590112,
         0.43650317,  0.2871416 ,  0.30860618, -0.4822504 ,  0.36143574,
         0.05642665, -0.32627806, -0.24309899, -0.09139016,  0.16354893,
        -0.23851739,  0.7306353 ,  0.03081608,  0.04861095, -0.30492905,
        -0.9998869 , -0.2516094 , -0.20149425, -0.16954152, -0.44420984,
         0.21227205, -0.3052292 ,  0.33267456,  0.26318187, -0.29790413,
         0.22276796, -0.9998971 ,  0.55339444,  0.71306735,  0.32374546,
        -0.17143737,  0.0824426 ,  0.28915772,  0.2440962 , -0.39900273,
        -0.25733086, -0.05787262, -0.14064786,  0.19076537, -0.12050197,
        -0.41198155, -0.2559957 ,  0.265201  , -0.346468  ,  0.01656516,
         0.11038731,  0.36560035,  0.49111158,  0.2537717 ,  0.25466797,
         0.16619101,  0.18128854,  0.24105678,  0.35735092, -0.24011606,
        -0.02952298,  0.44282633,  0.22373076, -0.17051585, -0.2681529 ,
        -0.3102133 ,  0.21565759, -0.02486245,  0.6128571 , -0.3708624 ,
        -0.19007398, -0.44145504, -0.15612681,  0.07602064,  0.21699698,
        -0.34233215,  0.37393242,  0.23175648,  0.18331352, -0.15871036,
        -0.4316133 , -0.5652913 , -0.3450879 ,  0.27048615, -0.28526002,
         0.4017716 ,  0.32467964, -0.42311975,  0.09447096, -0.22629261,
         0.11773462,  0.55411935, -0.30234954,  0.33465913, -0.2317813 ,
        -0.2766916 , -0.81390285, -0.23891991, -0.27856308, -0.41319314,
        -0.18582925,  0.1724896 , -0.31321183, -0.36623102, -0.2971107 ,
        -0.34692374,  0.21213232,  0.18430927, -0.12628457,  0.31443593,
         0.14291236, -0.45243326, -0.25249028,  0.10422144, -0.32793012,
         0.9675063 , -0.44957653,  0.3835519 , -0.00669392,  0.03161692,
        -0.5299464 ,  0.99992347,  0.08794917, -0.170785  ,  0.20855048,
         0.27028313, -0.5952548 ,  0.17624228,  0.461289  ,  0.3267006 ,
         0.20332816, -0.22818011, -0.24633713, -0.30090645, -0.77897006,
        -0.30267894, -0.25675663,  0.26036018, -0.4535266 , -0.19290702,
         0.22660863,  0.43792728,  0.24898322,  0.02256094, -0.10999619,
        -0.14193961,  0.26641   , -0.23075803,  0.99989897,  0.65828454,
        -0.31302655, -0.1436186 ,  0.4630034 , -0.5298982 , -0.3889124 ,
        -0.35383365, -0.4237447 , -0.5300141 ,  0.20408264,  0.18583134,
         0.2607763 , -0.17009363, -0.2669954 , -0.37507564,  0.2589348 ,
        -0.7312192 , -0.12595166,  0.44580683,  0.02963127,  0.43899646,
        -0.26443335,  0.45226553,  0.2165475 , -0.3121    , -0.04170161,
         0.38607436,  0.2322483 ,  0.06040393, -0.11614744, -0.09297196,
         0.29260308, -0.13669485, -0.37017474,  0.11299584, -0.26627672,
        -0.39766338,  0.14798994, -0.04645436, -0.13649788,  0.31028533,
        -0.2442691 ,  0.16149564, -0.20634401,  0.31251138,  0.3242298 ,
         0.07071055, -0.5484615 ,  0.29720137,  0.34416202,  0.34953728,
         0.25967962,  0.1684611 ,  0.04588941,  0.22038168, -0.31704608,
        -0.3818678 ,  0.38895074,  0.16222169,  0.4201263 , -0.26173878,
        -0.40974176, -0.3815871 ,  0.5842721 ,  0.36358282, -0.3344921 ,
         0.3574721 ,  0.18703862, -0.24146853, -0.3057562 ,  0.20240806,
        -0.13920057, -0.30029202, -0.4735909 , -0.27071652, -0.1317027 ,
         0.34965032,  0.12209401,  0.2759549 ,  0.25153944, -0.08328671,
        -0.17778602, -0.20390505,  0.15212837,  0.27180514, -0.09372254,
         0.8110581 , -0.09506962,  0.1667129 , -0.38458264, -0.24180295,
         0.3031862 , -0.11198993,  0.37565917,  0.95231885,  0.18326126,
        -0.35710505,  0.19963343,  0.30791172,  0.262507  , -0.25192237,
         0.09890575, -0.61409295,  0.61879444,  0.3977721 ,  0.2787834 ,
        -0.9998856 ,  0.16148333,  0.09891237,  0.38574532,  0.16806974,
         0.1642355 ,  0.24466902,  0.22626898,  0.8983674 , -0.30796215,
        -0.46358147, -0.29814905, -0.23738314, -0.56672245, -0.21368682,
        -0.20955105, -0.34357285, -0.23936827, -0.00925232, -0.28343204,
         0.3173831 ,  0.29189754, -0.98946714,  0.85463834,  0.17614171,
        -0.28166917, -0.1045668 ,  0.22607885, -0.99990284,  0.38224185,
        -0.05621589, -0.36887556,  0.29057366, -0.34857166, -0.32815552,
         0.14386265,  0.39407685,  0.35441017,  0.2518847 ,  0.00163108,
         0.60129875,  0.07605929,  0.05792092,  0.09521545, -0.06472924,
         0.5788804 , -0.08079549,  0.197109  ,  0.32501215, -0.06902836,
         0.3345296 , -0.2695023 ,  0.3597952 ,  0.3901044 ,  0.17764491,
         0.07417345, -0.26692387,  0.28116804, -0.7553349 ,  0.29936954,
        -0.05156202, -0.1579995 , -0.13797492,  0.10480367, -0.3094763 ,
        -0.33415926,  0.28577822, -0.43496683,  0.9998925 ,  0.11532658,
        -0.30461165, -0.3228693 ,  0.5134467 ,  0.5026132 , -0.22646539,
        -0.5397555 , -0.1445588 ,  0.5386708 ,  0.4452949 ,  0.07905259,
         0.21792778, -0.04455645,  0.05689631, -0.13209915, -0.25892043,
         0.02604879, -0.3754369 ,  0.1300774 , -0.11126201, -0.45080066,
         0.1403903 , -0.15921044, -0.11843453, -0.534337  ,  0.3106091 ,
         0.14644027,  0.19637579,  0.13191384,  0.08798676, -0.38097778,
         0.6478336 ,  0.35908243, -0.29269344, -0.23099774, -0.30265814,
        -0.22672497,  0.03134594, -0.2896773 , -0.3317228 ,  0.15040326,
        -0.6746504 ,  0.09798677, -0.13430606, -0.22551136, -0.4366074 ,
         0.3970206 , -0.99992555, -0.08667066,  0.22346489, -0.17557195,
         0.20384432, -0.3576832 , -0.2080844 ,  0.14041634,  0.16386172,
         0.09233476,  0.20360482, -0.3540699 ,  0.11664802, -0.09716379,
         0.19535215,  0.80010104,  0.5611062 ,  0.1064925 , -0.41004404,
         0.28008708, -0.5537803 , -0.23605274,  0.42580605,  0.18952304,
        -0.18730472,  0.19850369,  0.30337316,  0.3043316 , -0.31915736,
         0.37632582, -0.17846964, -0.12461583,  0.31979662,  0.00813684,
        -0.16516618, -0.33972687,  0.43466994, -0.45022592,  0.43600255,
         0.21551949,  0.32514173,  0.07371621,  0.36932376, -0.31062344,
        -0.17294629, -0.27547365, -0.06594077, -0.38498414, -0.30582482,
        -0.20989914,  0.99991286,  0.27883312,  0.35662562, -0.37492955,
         0.23762807,  0.40244195, -0.28014472,  0.28697082,  0.3841882 ,
         0.13430785, -0.12828864,  0.18574491,  0.3656648 ,  0.3856163 ,
         0.45906568,  0.1793911 ,  0.44848973, -0.37000948,  0.6520128 ,
        -0.23827396, -0.42334896, -0.9904662 ,  0.22417201,  0.49513015,
        -0.27861476, -0.5211792 ,  0.21396318, -0.3578805 ,  0.20600164,
        -0.25524312,  0.09314397,  0.25720567, -0.22158806,  0.39646354,
        -0.18112536,  0.9998978 , -0.05652231,  0.10126055,  0.32786587,
         0.2805725 , -0.3447764 , -0.3438975 , -0.16547887,  0.35414127,
        -0.32742426,  0.09875812, -0.92785966,  0.29372916,  0.09748492,
         0.42520458, -0.20551836,  0.34150478, -0.55258435,  0.39502245,
        -0.13672887, -0.0998479 , -0.33435646,  0.30717105, -0.39291912,
         0.5984699 , -0.31631055,  0.20072699, -0.3182156 ,  0.24385953,
         0.05772875,  0.41720343, -0.29344094,  0.07774721, -0.37800613,
        -0.34886265, -0.24541871,  0.13220745, -0.46464226,  0.99990857,
        -0.18942736,  0.39362812, -0.2227465 ,  0.28618416, -0.28473705,
         0.5156418 ,  0.76083845, -0.31007054,  0.28388292,  0.3381882 ,
        -0.67802477,  0.31384283, -0.03614872, -0.6269376 , -0.1295401 ,
         0.9536599 ,  0.15305762,  0.41595635,  0.39574984,  0.17642589,
         0.21141255, -0.26513562,  0.25370058,  0.8183471 ,  0.04853345,
         0.18362392,  0.16860135,  0.02625354, -0.43115303, -0.28434122,
         0.99990135,  0.99989915,  0.01749122,  0.44218892, -0.15791474,
        -0.25986505, -0.2924746 ,  0.24307945,  0.25742444,  0.20759508,
        -0.00615307,  0.11124914, -0.43280506, -0.25150228, -0.24398004,
        -0.08365053, -0.22427478, -0.01680108, -0.42616543,  0.6961741 ,
         0.47195873,  0.20366538,  0.4456487 ,  0.24817178,  0.24504966,
         0.04909996, -0.34006992,  0.58742005, -0.36885592, -0.00693787,
        -0.36495435,  0.07550748, -0.99989134, -0.31741065, -0.18587033,
        -0.30533233,  0.5690084 ,  0.11681611,  0.12572095, -0.43683967,
        -0.1360066 , -0.44179478,  0.23985173,  0.2529134 ,  0.1845553 ,
        -0.24756156, -0.3199127 ,  0.47458512, -0.45381328,  0.14189284,
        -0.23979829, -0.3768954 , -0.59939086, -0.2645166 , -0.34338313,
         0.35119832, -0.07649539, -0.20391269,  0.37876204,  0.1777754 ,
         0.37507036, -0.34225446,  0.31888163, -0.25976193,  0.20031884,
         0.38243946,  0.28480074,  0.20082933, -0.4091426 , -0.34152013,
        -0.29605034, -0.24640898, -0.3287544 ,  0.33354783, -0.3353891 ,
         0.2753487 , -0.15926391,  0.13114779, -0.17099619,  0.1436927 ,
         0.26066032,  0.5304651 , -0.24824302,  0.44981134,  0.47258204,
        -0.13576947,  0.5895198 ,  0.04134218, -0.26113474, -0.26663306,
         0.99991417,  0.3266463 ,  0.1447812 ,  0.22322144,  0.03879426,
         0.38921925,  0.22774081,  0.56968206, -0.2093468 ,  0.6106745 ,
        -0.28780246,  0.2418115 ,  0.25196508,  0.4347364 , -0.00799005,
         0.25860813,  0.21135958,  0.7619346 ,  0.27418885,  0.21308488,
         0.37789217,  0.24713016,  0.47257876,  0.18314466,  0.16149445,
         0.389441  ,  0.28325477, -0.1427634 ,  0.19403955, -0.21395832,
        -0.21994685, -0.09832633, -0.12532948, -0.22294594,  0.05310789,
        -0.03240652, -0.27738395, -0.18215892,  0.4229388 , -0.31769872,
         0.22885601, -0.26264182, -0.2507752 ,  0.49780607, -0.53328496,
         0.42485902, -0.09513958,  0.23984279, -0.7744864 ,  0.24086805,
        -0.10698932, -0.55117595, -0.27106267, -0.35973284,  0.18706988,
         0.3371058 , -0.12735495,  0.21064936, -0.19676729,  0.38389468,
        -0.16345565, -0.29221988,  0.077038  , -0.9999059 ,  0.18927923,
         0.15395321, -0.42033604,  0.1781054 , -0.03868948,  0.23854479,
         0.2846328 , -0.32163844, -0.36325812, -0.15054134,  0.22699998,
        -0.36290178, -0.03572591,  0.24494977, -0.39396518, -0.31060562,
         0.19197695, -0.297014  ,  0.34834477,  0.45707318, -0.3375331 ,
         0.27413735, -0.2801785 ,  0.16591473, -0.15394115,  0.18194102,
        -0.40903455, -0.29716712,  0.43307585, -0.40217823, -0.40231174,
        -0.23153803,  0.17705086, -0.08659513,  0.1497613 ,  0.3417415 ,
        -0.08103021,  0.3525509 , -0.2138921 ,  0.38600898, -0.16485994,
         0.3976869 , -0.8344107 , -0.31874081, -0.43804777, -0.17348517,
         0.22131385,  0.3893119 ,  0.13410102,  0.2427439 ,  0.00525909,
         0.3059484 , -0.07604603,  0.25236118,  0.29572323, -0.3385049 ,
         0.05501411, -0.38461074,  0.263361  , -0.4219868 ,  0.0479254 ,
        -0.98042977, -0.33324692,  0.13642   ,  0.36830816,  0.3327452 ,
        -0.33907464, -0.09718073, -0.40090066, -0.24229006,  0.2606372 ,
         0.09241854,  0.30592203,  0.32254168,  0.38963053, -0.190012  ,
         0.0456745 ,  0.6154998 , -0.29435018,  0.05119732,  0.46237716,
         0.42341867,  0.6922996 ,  0.36411852,  0.38114172,  0.17765826,
        -0.2165645 ,  0.39966458,  0.3762282 ]], dtype=float32)

## Generate the dataset

Define auxiliar methods to generate the batches to obtain the word embeddings per document.

At the beginning, the documents were trim to 1000 words (the 3rd quartile of number of documents per total size) to generate small number of batches per document without losing too much information. However, it was going to take about 17 hours to generate all the embeddings, so just to show the whole process and reduce computational time as que are not seeking the best performance and quality, the texts are greatly reduced to 100 words. The execution time was still 6 hours. So, we are going to reduce the dataset length, **just to show the process with the classifier**.

In [13]:
def reduce_text(text):
  if len(text.split()) > 100:
    return " ".join(text.split()[:100])
  else:
    return text

def get_masks(tokens, max_seq_length):
    """Mask for padding"""
    if len(tokens)>max_seq_length:
        raise IndexError("Token length more than max seq length!")
    return [1]*len(tokens) + [0] * (max_seq_length - len(tokens))


def get_segments(tokens, max_seq_length):
    """Segments: 0 for the first sequence, 1 for the second"""
    if len(tokens)>max_seq_length:
        raise IndexError("Token length more than max seq length!")
    segments = []
    current_segment_id = 0
    for token in tokens:
        segments.append(current_segment_id)
        if token == "[SEP]":
            current_segment_id = 1
    return segments + [0] * (max_seq_length - len(tokens))


def get_ids(tokens, tokenizer, max_seq_length):
    """Token ids from Tokenizer vocab"""
    token_ids = tokenizer.convert_tokens_to_ids(tokens)
    input_ids = token_ids + [0] * (max_seq_length-len(token_ids))
    return input_ids

def generate_batches(text, size):
  chunks = [text[x:x+size] for x in range(0, len(text), size)]
  for c in chunks:
    c.insert(0, '[CLS]')
    c.append('[SEP]')
  return chunks

def generate_all(row):
  data_prepared = []
  for i in row:
    input_ids = get_ids(i, tokenizer, max_seq_length)
    input_masks = get_masks(i, max_seq_length)
    input_segments = get_segments(i, max_seq_length)
    data_prepared.append([input_ids, input_masks, input_segments])
  return data_prepared

def get_embeddings(batches):
  embedding = []
  for batch in batches:
    pool_embs, all_embs = model.predict([[batch[0]], [batch[1]], [batch[2]]])
    embedding.append(pool_embs)
  return embedding

In [18]:
df_reduced = df.iloc[range(0,len(df),3)]
df_reduced = df_reduced.reset_index()

In [19]:
df_reduced.shape

(7847, 4)

In [20]:
df_reduced['text_reduced'] = df_reduced['text'].apply(lambda x: reduce_text(x))

In [21]:
df_reduced['text_tokens'] = df_reduced['text_reduced'].apply(lambda x: tokenizer.tokenize(x))

In [22]:
df_reduced['text_batches'] = df_reduced['text_tokens'].apply(lambda x: generate_batches(x, 100))

In [23]:
df_reduced['basic_set'] = df_reduced['text_batches'].apply(lambda x: generate_all(x))

In [24]:
df_reduced.head()

   index  ...                                          basic_set
0      0  ...  [[[101, 177, 24944, 10531, 12748, 12373, 10106...
1      3  ...  [[[101, 15033, 51210, 10393, 11823, 169, 15198...
2      6  ...  [[[101, 11206, 117, 10628, 17761, 10454, 117, ...
3      9  ...  [[[101, 10271, 10124, 169, 42492, 15559, 10230...
4     12  ...  [[[101, 177, 30181, 11850, 12277, 10271, 10134...

[5 rows x 8 columns]

In [25]:
from tqdm import tqdm

In [26]:
tqdm.pandas()
df_reduced['embeddings'] = df_reduced['basic_set'].progress_apply(lambda x: get_embeddings(x))

100%|██████████| 7847/7847 [3:47:15<00:00,  1.74s/it]

In [27]:
df_reduced.head()

   index  ...                                         embeddings
0      0  ...  [[[0.21412727, -0.25563636, 0.3922883, -0.1099...
1      3  ...  [[[0.21550941, -0.32545748, 0.33222845, -0.287...
2      6  ...  [[[0.026787607, -0.3051752, 0.072571024, -0.58...
3      9  ...  [[[0.16710715, -0.19441627, 0.23410313, -0.311...
4     12  ...  [[[0.3504453, -0.23025343, 0.31962156, -0.2193...

[5 rows x 9 columns]

In [37]:
df_final = df_reduced.drop(columns=['text_reduced', 'text_tokens', 'text', 'text_batches', 'basic_set', 'index'])

In [38]:
df_final.head()

  category language                                         embeddings
0      APR       en  [[[0.21412727, -0.25563636, 0.3922883, -0.1099...
1      APR       en  [[[0.21550941, -0.32545748, 0.33222845, -0.287...
2      APR       en  [[[0.026787607, -0.3051752, 0.072571024, -0.58...
3      APR       en  [[[0.16710715, -0.19441627, 0.23410313, -0.311...
4      APR       en  [[[0.3504453, -0.23025343, 0.31962156, -0.2193...

In [39]:
data = []

for i in range(len(df_final)):

  new_row = [item for sublist in df_final.loc[i]['embeddings'] for item in sublist.tolist()[0]]

  new_row.insert(0, df_final.loc[i]['category'])
  new_row.insert(0, df_final.loc[i]['language'])
  data.append(new_row)

In [40]:
df_flatten = pd.DataFrame(data)

In [41]:
df_flatten.head()

  0    1         2         3         4     ...  6909  6910  6911  6912  6913
0   en  APR  0.214127 -0.255636  0.392288  ...   NaN   NaN   NaN   NaN   NaN
1   en  APR  0.215509 -0.325457  0.332228  ...   NaN   NaN   NaN   NaN   NaN
2   en  APR  0.026788 -0.305175  0.072571  ...   NaN   NaN   NaN   NaN   NaN
3   en  APR  0.167107 -0.194416  0.234103  ...   NaN   NaN   NaN   NaN   NaN
4   en  APR  0.350445 -0.230253  0.319622  ...   NaN   NaN   NaN   NaN   NaN

[5 rows x 6914 columns]

In [42]:
df_flatten = df_flatten.rename(columns={0: 'language', 1: 'category'})

In [43]:
df_flatten.head()

  language category         2         3         4  ...  6909  6910  6911  6912  6913
0       en      APR  0.214127 -0.255636  0.392288  ...   NaN   NaN   NaN   NaN   NaN
1       en      APR  0.215509 -0.325457  0.332228  ...   NaN   NaN   NaN   NaN   NaN
2       en      APR  0.026788 -0.305175  0.072571  ...   NaN   NaN   NaN   NaN   NaN
3       en      APR  0.167107 -0.194416  0.234103  ...   NaN   NaN   NaN   NaN   NaN
4       en      APR  0.350445 -0.230253  0.319622  ...   NaN   NaN   NaN   NaN   NaN

[5 rows x 6914 columns]

In [44]:
df_flatten.to_csv('/content/drive/My Drive/ea_embeddings_bert_flatten_good.csv', index=False, encoding='utf-8')